*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Cormorant Garamond", sans-serif;
  --third-family: "Segoe UI", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
  color: #828282;
  background-color: #FFF;
   overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--second-family);
  margin: 0;
  text-align: center;
}
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border-color: transparent;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px; 

 
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px; 
  }
}

@media only screen and (min-width: 1025px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 736px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
  
@media only screen and (min-width: 1025px) {
  .container {
    max-width: 1168px;
  }  
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 20px;
  z-index: 1000;
  width: 100vw;
}
.header.active {
  height: 100vh;
  background-color: #195551;
}
.header.scrolled {
  background: #195551;
  backdrop-filter: blur(10px);
  padding: 10px 20px;
}
.header-container {
 display: flex;
 padding-top: 20px;
 padding-bottom: 20px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo-title {
  font-family: var(--font-family);
  font-size: 24px;
  margin: 0;
}
.logo-title:hover {
  color: #E0A178;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 110;
}
.burger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}
.menu-list {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 100;
}
.menu-list.active {
  display: flex;
}
.burger-menu.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger-menu.active span:nth-child(2) {
  opacity: 0;
}
.burger-menu.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-item {
 list-style: none;
}
.menu-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  transition: color 0.3s;
}
.menu-link:hover {
  color: #E0A178;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: 100%;
  }
}

  
@media only screen and (min-width: 1025px) {
   .header {
    width: 100%;
  }
  .page-header {
    position: sticky;
    height: auto;
  }
  .burger-menu {
    display: none;
  }
  .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    position: static;
  }
  .menu-item a {
    font-size: 16px;
  }
}

/* hero-service section */

.hero-service {
  position: relative;
  /* background-image: url('../images/hero-bg-mobile.webp'); */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../images/freepik__upload__38616.jpg');
  background-size: cover;
  background-position: center; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh; 
  color: #fff;
  display: flex; 
  align-items: flex-start; 
  justify-content: center;
  flex-direction: column;
}
/* .hero-service::before,
.hero-service::after {
  content: '';
  position: absolute;
  top: 0;
  width: 15%; 
  height: 100%;
  z-index: 1;
}

.hero-service::before {
  left: 0;
  background: linear-gradient(to right, rgba(128, 128, 128, 1), rgba(128, 128, 128, 0));
}

.hero-service::after {
  right: 0;
  background: linear-gradient(to left, rgba(128, 128, 128, 1), rgba(128, 128, 128, 0));
}

.hero-service > * {
  position: relative;
  z-index: 2;
} */

.hero-title {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 58px;
  line-height: 140%;
  color: #fff;
  padding-bottom: 20px;

}
.hero-description {
  position: relative;
  font-family: var(--second-family);
  font-size: 20px;
  color: #fff;
  max-width: 600px;
  
  
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* .hero-service {
    background-image: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8)), url('/images/hero-bg-tablet.webp');
  } */
  .hero-title {
    font-size: 70px;
  }
  .hero-description {
    font-size: 24px;
  }
}
  
@media only screen and (min-width: 1025px) {
  /* .hero-service {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url('../images/istockphoto-1139699597-612x612.jpg');
  } */
  .hero-title {
    font-size: 82px;
  }
  .hero-description {      
    font-size: 30px;
  }
} 

.about-us {
  padding: 60px 0;
  background-color: #F2F2EF; 
}
.about-us-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  margin: 0 auto;
}

.about-us-img {
  display: flex;
  justify-content: center;
  order: -1; 
}

.about-us-content {
  max-width: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .about-us-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
  }
  .about-us-img {
    flex: 1;
    
  }
  .about-us-img img {
    max-width: 100%;
    height: auto;
  }
  .about-us-content {
    flex: 1;
    max-width: 600px;
  }
  .about-us-title {
    font-size: 32px;
    font-weight: 600;
    color: #828282;
    margin-bottom: 15px;
  }
  .about-us-description {
    font-size: 18px;
    line-height: 1.6;
    color: #828282;
  }
}  

@media only screen and (min-width: 1025px) {
  .about-us-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 0 auto;
  }
  .about-us-img {
    flex: 1;
    
  }
  .about-us-img img {
    max-width: 100%;
    height: auto;
  }
  .about-us-content {
    flex: 1;
    max-width: 600px;
  }
  .about-us-title {
    font-size: 32px;
    font-weight: 600;
    color: #828282;
    margin-bottom: 15px;
  }
  .about-us-description {
    font-size: 18px;
    line-height: 1.6;
    color: #828282;
  }
}  

.our-advantages {
  padding: 60px 0;
  background-color: rgba(25, 85, 81, 0.9);
  text-align: center;
}
.our-advantages-container {
  max-width: 100%;
  margin: 0 auto;
}

.our-advantages-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 58px;
  line-height: 100%;
  color: #fff;
  text-align: center;
  padding-bottom: 35px;
}
.our-advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.our-advantages-item {
  font-family: var(--font-family);
  background-color: #195551;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #f2f2ef;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.our-advantage-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}
.our-advantage-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* color: #f2f2ef; */
}
.our-advantage-subtitle {
  font-size: 20px;
  font-weight: 600;
  /* color: #f2f2ef; */
  margin-bottom: 10px;
}

.our-advantage-description {
  font-size: 16px;
  
}
 
@media screen and (min-width: 768px) {
  .our-advantages {
    padding: 60px 40px;
  }

  .our-advantages-title {
    font-size: 32px;
  }

  .our-advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .our-advantages-item {
    width: calc(50% - 15px);
    padding: 25px;
  }

  .our-advantages-description {
    max-width: 80%;
    margin: 30px auto 0;
  }
}

@media screen and (min-width: 1024px) {
  .our-advantages {
    padding: 80px 0;
  }

  .our-advantages-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .our-advantages-title {
    font-size: 60px;
    padding-bottom: 45px;
  }

  .our-advantages-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
  }

  .our-advantages-item {
    width: calc(33.333% - 15px);
    padding: 30px;
  }

  .our-advantages-item:hover {
    /* transform: translateY(-5px); */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  }

  .our-advantages-description {
    max-width: 60%;
    margin: 40px auto 0;
  }
}

/* Загальні стилі для секції послуг */
.main-services {
  background-color: #fff; /* Білий фон для кожної секції */
  padding: 50px 0;
}

.main-services .container {
  max-width: 1200px;
  margin: 0 auto;
}

.list-item-heading {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.list-item-description {
  font-size: 16px;
  color: #555;
}

.main-icon-box {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стилі для Swiper */
.main-services {
  background-color: #fff;
  padding: 60px 0;
}

.swiper {
  padding-bottom: 40px;
}

.swiper-slide {
  background: #f3f6f9;
  border-radius: 12px;
  padding: 30px 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.swiper-slide:hover {
  transform: translateY(-5px);
}

.main-icon-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-item-heading {
  font-size: 20px;
  font-weight: bold;
  color: #1d5254;
}

.list-item-description {
  font-size: 16px;
  color: #333;
}


@media (max-width: 768px) {
  .main-icon-box {
    padding: 15px;
  }

  .list-item-heading {
    font-size: 20px;
  }

  .list-item-description {
    font-size: 14px;
  }
}


.sign-up {
  padding: 60px 0;
  background-image: linear-gradient(
      rgba(25, 85, 81, 0.9),
      rgba(25, 85, 81, 0.9)
    ),
    url(../images/top-view-from-city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.sign-up-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.sign-up-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
  color: #fff;
}
.sign-up-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #e1e1e1;
}
/* .contact-block {
  display: flex;
  flex-direction: row;
  align-items: center;
} */
.contact-info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 35px;
  column-gap: 28px;
  row-gap: 60px; 

}
.contact-info-list-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 28px;
  row-gap: 60px;
}
.info-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  color: #e0a178;
}
.info-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #e1e1e1;
}
.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  margin: 0 auto;
  background-color: #1A4B4C;
  padding: 82px 100px 70px 100px;
  
}
/* .form {
}
.sign-up-wrapper {
} */
.form-field {
  border: none;
  border-bottom: 2px solid #e5926e;
  width: 370px;
  /* width: 100%; */
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  background: #1d5254;
}
placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #fff;
}
.form-btn {
  /* display: inline-block; */
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 10px 10px;
  background-color: #E0A178;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}
/* .send {
} */
.form-btn:hover {
  background-color: #fff;
  color: #000;
}
.privacy-policy {
  font-size: 12px;
  color: #ccc;
  margin-top: 12px;
}
/* .privacy-policy-link {
  color: #E0A178;
  text-decoration: underline;
} */

.footer {
  background: linear-gradient(
    to bottom,
    #1d5254 0%,
    #4a5a5b 50%,
    #b0b0b0 100%
  );
  color: white; 
  padding: 40px 0; 
  font-family: Arial, sans-serif;
}

.footer .container {
  max-width: 1200px; /* Максимальна ширина контейнера */
  margin: 0 auto; 
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 90px; 
  flex-wrap: wrap;
}

.footer-logo .logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #ecf0f1;
}


/* .footer-contacts-link {
  display: block;
  color: #ecf0f1;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-contacts-link:hover {
  color: #1A4B4C;
} */

.footer-description {
  max-width: 400px;
  font-size: 16px;
  color: #e0e0e0;
  flex: 1;
  text-align: left;
}
 

/* Соціальні мережі */
.social-network {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-menu-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.social-menu-items {
  margin-left: 20px;
}

.social-link {
  display: block;
}

.social-icon {
  width: 24px;
  height: 24px;
  fill: #E0A178;
}

.social-link:hover .social-icon {
  fill: #3498db; /* Колір іконки при наведенні */
}